:root {
    --gutter: 20px;
    --main-color-bg: #000000;
    --main-color: #160f0f;
    --main-color-text: #a30000;
    --sec-color-text: #f5eded;

}

* {
    margin: 0;
    padding: 0;
    
}
body {
    background-color: var(--main-color-bg);
}
h1,h2,h3 {
    color: var(--main-color-text);
}
p,h4,h5,q, span, ul {
    color: var(--sec-color-text);
}
button {
    background-color: var(--main-color-bg) ;
    color: var(--main-color-text);
    border: 1px solid var(--main-color-bg);
    margin: 5px;
    padding: 5px;
}
h1,h2,h3 {
    margin-top: calc(var(--gutter)/2);
}

.header-menu {
    
    background-color: var(--main-color);
    padding: var(--gutter);
    font-size: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu ul {
    list-style: none;
}
.header-menu--right{
    text-align: right;
    margin: 0 calc(var(--gutter));
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.header-img {
    width: 8em;
    
}
.information-container{
    transition: ease-in-out 1s;
    max-width: 35em;
    padding: var(--gutter);
    margin-left: calc(var(--gutter)*2);
}

.sidebar {
    position: fixed;
    right: 0;
    top: 30%;
    width: 20rem;

    background: var(--main-color-bg);
    background: linear-gradient(90deg, var(--main-color-bg) 0%, var(--main-color) 100%); 
}

.sidebar--category {
    margin-bottom: 10px;
    list-style-type: trad-chinese-formal;
}

.sidebar--category-item {
    
    padding: 8px;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
}
.sidebar--category-item:hover {
    margin-left: 10px;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
    
}
.sidebar--category-item ul {
    list-style-type: none;
}