aside {
    width: auto;
    // position:sticky;
    top: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    > h1 {
        color: white;
    }

    @media screen and (min-width:$mq-mobile) {
        width: 35%;

    }
}

.aside {
    
    &__item {
        @extend .borders;
        @extend .card;
        background-color: white;
    }
}