.page-width {
    max-width: 97.5vw;
    margin: auto;

    @media screen and (min-width:$mq-tablet){
        max-width: 95vw;
    }
    @media screen and (min-width:$mq-laptop){
        max-width: 90vw;
    }
}

.flex-centering {
    
    &--h {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--v {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

.background {
    background-color: $color--background;
}
.foreground {
    background-color: $color--foreground;
}
.borders {
    border-radius: 6px;
}   


img {

}

