$mq-mobile: 450px;
$mq-tablet:768px;
$mq-laptop:1080px;
$mq-wide: 1600px;

$color--foreground: rgb(246, 243, 243);
$color--background:#383838;
$color-secondary: #383838;
$color-tertiary: #342434;

$color--decorator-1: rgb(24, 122, 78);
$color--decorator-2: rgb(182, 139, 58);

$color--tag: $color--decorator-1;
$color--tag-font: white;

$color--button: $color--decorator-1;
$color--button-text: white;
